node_modules/
backend/node_modules/
frontend/node_modules/
backend/petty_cash.db
backend/uploads/
.env
.DS_Store
dist/
build/
*.log
*.txt
scratch/
PIc/
backend/petty_cash.db-journal
backend/petty_cash.db-shm
backend/petty_cash.db-wal
